{
  "printer": "CSV | CONSOLE",
  "providers": [
    {
      "name": "CURRENT_DIR",
      "path": "./",
      "strategy": "FILE"
    },
    {
      "name": "CENTRAL_MAVEN",
      "path": "https://repo1.maven.org/maven2/",
      "strategy": "HTTP"
    }
  ],
  "references": [
    {
      "path": "pom.xml",
      "provider": "CURRENT_DIR"
    }
  ],
  "compared_to": [
    {
      "path": "com/sample/sample-dependencies/1.0.0/sample-dependencies-1.0.0.pom",
      "provider": "CENTRAL_MAVEN"
    }
  ]
}